/* Body Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #6074cb;
  display: flex;
  justify-content:start;
  align-items: center; 
  /* Center the container both horizontally and vertically */
  min-height: 100vh;
  padding: 4%; /*Add padding to the body to maintain space around the container*/
  box-sizing: border-box; /* Ensures padding does not affect the total width */
}

/* Container Styles */
.container {
  min-height: 100vh;
  width:1740px; /*Adjust the width to the viewport */
  background-color: #ffffff;
  border-radius: 15px; /* Medium rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  padding: 5%; /*Internal spacing within the container*/
  margin: 80px auto 20px auto; /* Added top margin to container for the topFixedBar */
  box-sizing: border-box; 
  /*Ensures padding does not affect the container's total width */

  display:flex;
  flex-direction: row;
}
