.all-profiles {
  flex: 2; /* Normal width when ProfileSection is visible */
  padding: 20px;
  background-color: #f1ebeb; /* Light grey background for the right section */
  border-radius: 20px;
  width: 1150px;
  overflow-y: auto; /* Enable scrolling if content overflows */
  max-height: 100vh; /* Optional: Control the height */
  border-left: 1px solid #ddd; /* Adds a subtle border to separate from other sections */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);/* Subtle shadow effect*/
}

.all-profiles.full-width {
  flex: 1; /* Full width when ProfileSection is hidden */
  width: 100%;
}